USE [master]
GO
/****** Object:  Database [BlogWebDB]    Script Date: 2.08.2024 14:17:35 ******/
CREATE DATABASE [BlogWebDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogWebDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BlogWebDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlogWebDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BlogWebDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogWebDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlogWebDB]
GO
/****** Object:  Table [dbo].[TBLADMIN]    Script Date: 2.08.2024 14:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLADMIN](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULLANICI] [varchar](20) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDENEYIM]    Script Date: 2.08.2024 14:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDENEYIM](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BASLIK] [varchar](50) NULL,
	[ALTBASLIK] [varchar](50) NULL,
	[ACIKLAMA] [varchar](1000) NULL,
	[TARIH] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLDILLER]    Script Date: 2.08.2024 14:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLDILLER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[DIL] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLEGITIM]    Script Date: 2.08.2024 14:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLEGITIM](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BASLIK] [varchar](50) NULL,
	[ALTBASLIK] [varchar](50) NULL,
	[ACIKLAMA] [varchar](250) NULL,
	[GNOT] [varchar](10) NULL,
	[TARIH] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHAKKIMDA]    Script Date: 2.08.2024 14:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHAKKIMDA](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[ADRES] [varchar](150) NULL,
	[MAIL] [varchar](50) NULL,
	[TELEFON] [varchar](20) NULL,
	[KISANOT] [varchar](1000) NULL,
	[FOTOGRAF] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLHOBILER]    Script Date: 2.08.2024 14:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLHOBILER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[HOBI] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLYETENEKLER]    Script Date: 2.08.2024 14:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLYETENEKLER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[YETENEK] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
